<div class="center-div">
<p id="notice"><%= notice %></p>

<p>
  <b>E i n:</b>
  <%= @wdi_refined_prospect.e_i_n %>
</p>

<p>
  <b>Name:</b>
  <%= @wdi_refined_prospect.name %>
</p>

<p>
  <b>Address:</b>
  <%= @wdi_refined_prospect.address %>
</p>

<p>
  <b>City:</b>
  <%= @wdi_refined_prospect.city %>
</p>

<p>
  <b>State:</b>
  <%= @wdi_refined_prospect.state %>
</p>

<p>
  <b>Income amount:</b>
  <%= @wdi_refined_prospect.income_amount %>
</p>

<p>
  <b>First name:</b>
  <%= @wdi_refined_prospect.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @wdi_refined_prospect.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @wdi_refined_prospect.email %>
</p>

<p>
  <b>Title:</b>
  <%= @wdi_refined_prospect.title %>
</p>

<p>
  <b>Has donation button:</b>
  <%= @wdi_refined_prospect.has_donation_button %>
</p>

<p>
  <b>Website:</b>
  <%= @wdi_refined_prospect.website %>
</p>


<%= link_to 'Edit', edit_wdi_refined_prospect_path(@wdi_refined_prospect) %> |
</div>