<div class="center-div">
	<p id="notice"><%= notice %></p>
	
	<p>
	  <b>E i n:</b>
	  <%= @wdi_prospect.e_i_n %>
	</p>
	
	<p>
	  <b>Name:</b>
	  <%= @wdi_prospect.name %>
	</p>
	
	<p>
	  <b>In care of name:</b>
	  <%= @wdi_prospect.in_care_of_name %>
	</p>
	
	<p>
	  <b>Address:</b>
	  <%= @wdi_prospect.address %>
	</p>
	
	<p>
	  <b>City:</b>
	  <%= @wdi_prospect.city %>
	</p>
	
	<p>
	  <b>State:</b>
	  <%= @wdi_prospect.state %>
	</p>
	
	<p>
	  <b>Zip code:</b>
	  <%= @wdi_prospect.zip_code %>
	</p>
	
	<p>
	  <b>Asset amount:</b>
	  <%= @wdi_prospect.asset_amount %>
	</p>
	
	<p>
	  <b>Income amount:</b>
	  <%= @wdi_prospect.income_amount %>
	</p>
	
	<p>
	  <b>Form 990 revenue amount:</b>
	  <%= @wdi_prospect.form_990_revenue_amount %>
	</p>
<%= link_to 'Edit', edit_wdi_prospect_path(@wdi_prospect) %>

</div>
